@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<br />
<a href="javascript:history.back()" class="btn btn-primary">Go Back To Previous Page</a>

