@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Bank Management System</h1>
    <p class="lead">Platform For Managing Digital Data</p>
</div>

<div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-4" style="border: 2px solid #f2f2f2; margin-right: 40px; padding: 20px; text-align: center; box-shadow: 8px 8px 8px #e6e6e6; ">
        <h2>Employees Data</h2>
        <p>Provides a list of employees and their basic data.</p>
        <p><a class="btn btn-primary" href="/Employee">Go To &raquo;</a></p>
    </div>
    <div>
        <img src="~/Content/logo1.jpg"  style="width: 70px;"/>
    </div>
    <div class="col-md-4" style="border: 2px solid #f2f2f2; margin-left: 40px; padding: 20px; text-align: center; box-shadow: 8px 8px 8px #e6e6e6; ">
        <h2>Customers Data</h2>
        <p>Provides a list of customers data consisting of their personal and bank account details.</p>
        <p><a class="btn btn-primary" href="/Customers">Go To &raquo;</a></p>
    </div>
</div>